body {
    text-align: center;
    padding-top: 300px;
    background: linear-gradient(red, green, blue, yellow, purple);
}

img {
    border-radius: 50%;
}

#welcomeid {
    position: absolute;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}

.links {
    float: left;
    color: fuchsia;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px
}

.links:hover {
    background-color: aqua;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
